.bar rect {
  fill: #4e5d6c;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#facts div {
  margin-left: 2.5%;
  width: 95%;
}
