<html>
  <head>
    <title>HtCtW - Stations</title>
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/map-visualisation.css" />
    <script src="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js" charset="UTF-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bike Alert</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/documentation">Documentation</a></li>
            <li class="dropdown">
              <a href="/visualisation" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Visualisation <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/visualisation#passFrequency">Pass frequency</a></li>
                <li><a href="/visualisation#speedAnalysis">Speed analysis</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="passFrequency">
      <h1>Pass Frequency</h1>
      <div id="map1"></div>
    </div>
    <div id="speedAnalysis">
      <h1>Speed Analysis</h1>
      <div id="map2"></div>
    </div>
    <script src='/static/js/map-visualisation.js'></script>
  </body>
</html>
