{% extends 'base.html' %}
{% block title %}Visualisation{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/map-visualisation.css" />
  <script src="/static/js/leaflet.js"></script>
{% endblock %}
{% block body %}
  <h2>Visualisations</h2>
  <div id="passFrequency">
    <h3>Pass Frequency</h3>
    <div id="map1"></div>
  </div>
  <div id="speedAnalysis">
    <h3>Speed Analysis</h3>
    <div id="map2"></div>
  </div>
  <script src='/static/js/map-visualisation.js'></script>
{% endblock %}
