{% extends 'base.html' %}
{% block title %}Station {{ station_id }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/visualisation.css" />
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}
{% block body %}
  <h2>Station {{station_id}}</h2>
  <div id="facts">
    <h3>Facts</h3>
    <div class="panel panel-default">
      <div class="panel-body" id='listFacts'>
      </div>
    </div>
  </div>
  <div id="histogram"></div>
  <script>stationId = {{ station_id|tojson|safe }}</script>
  <script src='/static/js/visualisation.js'></script>
{% endblock %}
