<html>
  <head>
    <title>HtCtW - Station {{ station_id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/static/css/visualisation.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js" charset="UTF-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bike Alert</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/documentation">Documentation</a></li>
            <li class="dropdown">
              <a href="/visualisation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Visualisation <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/visualisation#passFrequency">Pass frequency</a></li>
                <li><a href="/visualisation#speedAnalysis">Speed analysis</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="/visualisation/{{ station_id }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Station {{ station_id }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#facts">Facts</a></li>
                <li><a href="#histogram">Histogram</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="facts">
      <h1>Facts</h1>
      <div class="panel panel-default">
        <div class="panel-body" id='listFacts'>
        </div>
      </div>
    </div>
    <div id="histogram"></div>
    <script>stationId = {{ station_id|tojson|safe }}</script>
    <script src='/static/js/visualisation.js'></script>
  </body>
</html>
